In [4]:
print ("I eat %d apples." % 3)
print ("I eat %s apples." % "five")

print ("I eat {0} apples." .format(3))
print ("I eat {0} apples." {1}days.format(10,"three")")

name = '홍길동'
age = 30
print (f'나의 이름은 {name}이고, 나이는 {age}입니다.')

SyntaxError: unterminated string literal (detected at line 5) (505710048.py, line 5)

In [8]:
#정렬
print("{0:<10}".format("hi"))
print("{0:>10}".format("hi"))
print("{0:^10}".format("hi"))
print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":^10}')


#공백 채우기
print("{0:=^10}".format("hi"))
print("{0:!^10}".format("hi"))

hi
        hi
    hi
hi
        hi
    hi
====hi====
!!!!hi!!!!

In [18]:
#소수점 표현
print("%f" % 3.42134234)
print("%0.4f" % 3.42134234)
print("%10.4f" % 3.42134234)

print("0:0.4f" % 3.42134234)
print("0:10.4f" % 3.42134234)

y=3.42134234
print(f'{y:0.4f}')
print(f'{y:10.4f}')

3.421342
3.4213
    3.4213

TypeError: not all arguments converted during string formatting

In [24]:
#문자열 함수
a = "Life is too short"
print(a.index('t')) #문자의 인덱스 번호 출력

print(",".join('abcd'))

print(a.replace("Life", "Your leg"))

print(a.split()) #공백을 기준으로 문자열 나누기(리스트 형태로 반환)
b = "류수영, 이승윤, 유이, 서인국"
print(b.split(","))

8
a,b,c,d
Your leg is too short
['Life', 'is', 'too', 'short']
['류수영', ' 이승윤', ' 유이', ' 서인국']

###리스트

In [32]:
#리스트 인덱싱, 슬라이싱
a = [1,2,3,['a','b','c']]
print(a[0])
print(a[-1])
print(a[3])

print(a[-1][0])
print(a[3][0])
print(a[3][1])

1
['a', 'b', 'c']
['a', 'b', 'c']
a
a
b

In [36]:
a = [1,2,3,4,5]

print(a[0:2]) #2번 인덱스 직전까지
print(a[:2])
print(a[1:])
print(a[:])

[1, 2]
[1, 2]
[2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [38]:
# 리스트 연산하기
a = [1,2,3]
b = [4,5,6]

print(a+b)
print(a*3)
print(len(a)) #리스트 길이 구하기

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [40]:
#리스트 값 수정, 삭제
a = [1,2,3]
a[2] = 4
print(a)

del a [1]
print(a)

[1, 2, 4]
[1, 4]

In [46]:
#리스트 함수

a=[1,2,3]
a.append(4)
print(a)

a.append([5,6])
print(a)

a=[8,2,0]
a.sort() #오름차순 정렬(문자도 정렬)
print(a)

a = [1,2,3]
print(a.index(3)) #3이 몇번 인덱스 번호에 있는지

a.insert(0,4) #0번 인덱스 위치에 4를 삽입
print(a)

a.remove(3) #3을 삭제
print(a)

a.extend([4,5]) #리스트 확장
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]
[0, 2, 8]
2
[4, 1, 2, 3]