### 1.if문

In [2]:
# if문

money = True
if money:
    print('택시타고가기')

택시타고가기

In [6]:
# if else문
money = True
if money:
    print('택시타고 가기')
else:
    print('걸어가기')

택시타고 가기

In [8]:
# if else문
money = True
if money:
    print('택시타고 가기')
else:
   print('걸어가기')
print('뛰어가기')

택시타고 가기
뛰어가기

In [12]:
# and, or, not..

x = 3
y = 2

print(x < y and x > y)
print(x == y or x >= y)
print(not x != y)

False
True
False

In [14]:
# in,not in
print(1 in [1,2,3]) #1이 리스트 안에 있는가?
print(1 not in [1,2,3]) #1이 리스트 안에 없는가
print('a' in ['a','b','c'])
print('j' not in 'python')
print('j' in 'python')

True
False
True
True
False

In [16]:
pocket = ['paper','cellphone']
card = True

if 'money' in pocket:
    print('택시타고가기')
else:
    if card:
        print('택시타고가기')
    else:
        print('걸어가기')

택시타고가기

In [22]:
pocket = ['paper','cellphone']
card = True

if 'money' in pocket:
    print('택시타고가기')
elif card:
        print('택시타고가기')
 else:
        print('걸어가기')

IndentationError: unindent does not match any outer indentation level (<string>, line 8)

In [24]:
# 조건부 표현식(if else 단축)

### 2.while문

In [27]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [33]:
i = 1
sum =0


while i <= 10:
    #print(i)
    sum += i
    i += 1

print(sum)

55

In [41]:
i = 1



while i <= 10:
    print(i)
    i += 1
    if i == 5:
        break

1
2
3
4

In [47]:
a = 0

while a < 10:
    a+=1
    if a % 2 == 0:
        continue
        
    print(a)

1
3
5
7
9

### 3.for문

In [50]:
test_list = [1,2,3,4,5]


for i in test_list:
    print(i)

1
2
3
4
5

In [52]:
a = [(1,2),(3,4),(5,6)]

for (first, last) in a:
    print(first, last)

1 2
3 4
5 6

In [58]:
a = [(1,2),(3,4),(5,6)]

for i in test_list
    if i == 3: break
        print(i))

SyntaxError: unmatched ')' (699135137.py, line 5)

In [60]:
# range
# 수지 범위를 이용해 리스트를 만들어준다

a = range(10)
print(list(a)) #출력 할때는 list 함수 사용

b = range(1,11)
print(list(b))

c = range(1,11,2)
print(list(c))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [62]:
# range
# 수지 범위를 이용해 리스트를 만들어준다

a = range(10)
print(list(a)) #출력 할때는 list 함수 사용

b = range(1,11)
print(list(b))

c = range(1,11,2)
print(list(c))

d = range(10,1,-1) #1~10까지 2씩증가
print(list(d))

e = range(10,0,-2) #10~0까지 -2씩증가
print(list(e))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
[10, 8, 6, 4, 2]

In [64]:
add = 0
#1~10 까지 더하기
for i in range(1,11): #1~10까지 리스트
    add += i
print(add)

55

In [68]:
for i in range(2,10):
    for j in range(1, 10):
        print(f'{i} X {j} = {i * j})
     priny('')

SyntaxError: unterminated f-string literal (detected at line 3) (2157636590.py, line 3)

In [70]:
#리스트 컴프리헨션: 리스트 안에 for문 사용
a = [1,2,3,4]
result = [num * 3 for num in a]
print(a)

[1, 2, 3, 4]

In [72]:
a  = [1,2,3,4]
result - [num * 3 for num in a if num % 2 == 0] 
print(result)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [74]:
for _ in range(5):
    print('안녕하세요.')

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.