In [1]:
#1번
fruits = ["apple", "banana", "cherry", "date"]
# 코드를 작성하세요
print(len(fruits))

4

In [3]:
#2번
numbers = [10, 25, 37, 42, 3, 17]
# 코드를 작성하세요
max(numbers)

42

In [7]:
#5번
names = ["Zoe", "Alice", "John", "Bob"]
# 코드를 작성하세요
names.sort()
names

['Alice', 'Bob', 'John', 'Zoe']

In [9]:
#6번
# 코드를 작성하세요
name = input('이름입력:')
print(f'Hello, {name}!')

이름입력: 라라

Hello, 라라!

In [11]:
#7번
numbers = [1, 2, 3, 4, 5]
# 코드를 작성하세요

list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25]

In [13]:
#8번
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 코드를 작성하세요

def filter_func(x):
    return x % 2 == 0

list(filter(filter_func, numbers))

[2, 4, 6, 8, 10]

In [15]:
#10번
value = 42
# 코드를 작성하세요
print(type(value))

<class 'int'>